.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.formInput {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: baseline;
}

.inputField {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 0px;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2c3e50;
  font-size: 16px;
}

.inputField:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #ee0979;
  outline-width: 0;
  transition: All 0.5s ease-in;
  -webkit-transition: All 0.5s ease-in;
  -moz-transition: All 0.5s ease-in;
  -o-transition: All 0.5s ease-in;
}
.label {
  width: 60px;
  font-weight: normal;
  font-size: 16px;
  color: #666;
}

.button {
  width: 100px;
  background: #ee0979;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px 5px;
}

.button:hover {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #ee0979;
}
.button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #ee0979;
}
