.filterBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.h4 {
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 18px;
  color: #666;
}
.input {
  margin-bottom: 16px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 0px;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2c3e50;
  font-size: 16px;
  width: 100%;
}

.input:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #ee0979;
  outline-width: 0;
  transition: All 0.5s ease-in;
  -webkit-transition: All 0.5s ease-in;
  -moz-transition: All 0.5s ease-in;
  -o-transition: All 0.5s ease-in;
}
